.slider{
    width: 100%;
    cursor: grab;
}
.slide--item {
    object-fit: cover;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .slider{
        width: 350px;
        height: 680px;
        overflow: hidden;
        margin: 0 auto;
    }
    .slide--item {
        width: 350px;
        height: 680px;
    }
    
}