.bottom-nav-bar {
    display: none;
}

@media only screen and (max-width: 700px) {
    .bottom-nav-bar {
        display: grid;
        position: fixed;
        bottom: 0;
        left: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding:15px 0px 10px 0px;
        width: 100%;
        font-size: 30px;
        text-align: center;
        color: var(--mediumColor);
        background-color: var(--darkColor);
        align-items: center;
        justify-content: center;
        justify-self: center;
        z-index: 2;
        box-shadow: 0px -10px 40px 0 rgba(25, 25, 25, 0.8);
        border-top: 1.5px solid var(--mediumColor);
    }
    .bottom-navbar--content:hover {
        color: var(--mediumColor);
    } 
    .navbar--active-content {
        color: var(--yellow);
      } 
}