.contact--section {
    display: grid;
    width: 100%;
    grid-template-columns: 75% 25%;
    padding: 70px 0px;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    gap:10px;
  }
  .contact--section--heading {
    color: var(--darkColor);
    font-size: 50px;
  }
  .contact--section--description {
    color: var(--halfDarkColor);
    font-size: 16px;
  }
  .contact--form--container {
    display: grid;
    align-items: center;
    justify-content:center;
    width: 100%;
    row-gap: 22px;
    border-right: 10px double var(--lightColor);
  }
  .container {
    display: grid;
    grid-template-columns: 37% 63%;
    column-gap: 20px;
    width: 650px;
  }
  .contact--label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11.5px;
    flex: 1 0 0;
    width: 100%;
  }
  .contact--input {
    display: flex;
    font-family: "Roboto";
    text-align: center;
    padding: 5px 0px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.5px solid var(--mediumColor);
    background: var(--lightColor);
  }
  .contact--form--btn{
    justify-self: end;
  }
  .contact--icons{
    display: grid;
    justify-content: start;
    grid-template-rows: 1fr 1fr;
    padding-left: 30px;
    gap: 15px;
    font-size: 40px;
    color: var(--halfDarkColor);
    transition: all 0.2s;
  }

  .contact--icons:hover {
    color: var(--lightColor);
  }

  .contact--icons a{
    text-decoration: none;
    color: var(--halfDarkColor);
    transition: all 0.2s;
  }

  .contact--icons a:hover {
    color: var(--DarkColor)
  }

  @media only screen and (max-width: 700px) {
    .contact--section {
      display: block;
      padding: 50px 0px 50px 0px;
    }
    .contact--form--text {
      text-align: center;
      padding: 0px 25px 15px 25px;
    }
    .contact--section--heading {
      font-size: 40px;
      text-align: center;
    }
    .contact--section--description{
      font-size: 18px;
    }
    .contact--form--container {
      display: block;
      border: none;
      margin: 0 auto;
    }
    .container {
      display: block;
      width: 85%;
      margin: 0 auto;
    }
    .contact--label {
      display: block;
    }
    .contact--input {
      display: block;
      width: 100%;
    }
    .contact--form--btn{
      padding: 15px 0px 45px 0px;
      text-align: center;
    }
    .contact--icons{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 0px 0px 0px;
      font-size: 30px;
      color: var(--halfDarkColor);
    }
  }