.footer--container {
    display: flex;
    padding: 40px 0px;
    align-items: center;
    justify-content: center;
    background: var(--darkColor);
}

.footer--container p{
  color: var(--mediumColor);
  font-size: 1rem;
}

  @media only screen and (max-width: 700px) {
    .footer--container {
      padding: 30px 0px 95px 0px;
    }
  }
  