.portfolio--section {
    display: block;
    padding: 100px 40px 140px 40px;
    background-color: var(--darkColor);
    min-height: 550px;
  }
  .portfolio--container-box {
    display: block;
    padding-bottom: 30px;
    width: 100%;
  }
  .portfolio--section--heading{
    color: var(--yellow);
  }
  .portfolio--section--heading span{
    color: var(--blue);
  }
  .portfolio--section--container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap:1.5px;
  }
  .portfolio--section--card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.0);
    border: 1.5px solid var(--blue);
    transition: all 0.3s;
  }
  .portfolio--section--card img{
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: saturate(0.6);
    transition: all 0.3s;
  }
  .portfolio--section--card img:hover{
    transform: scale(1.04);
    filter: saturate(1);
  }
  .portfolio--section--title {
    color: var(--darkColor);
  }
  #portfolio--project {
    background-color: var(--yellow);
  }
  .portfolio--project--content {
    display: grid;
    grid-template-columns: 62% 38%;
  }
  .portfolio--project--slider{
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  .portfolio--project--text {
    padding-left: 30px;
    padding-right: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }
  .portfolio--project--title {
    color: var(--red);
    font-size: 30px;
    font-weight: bold;
    background-color: var(--halfLightColor);
    margin-top: 14px;
    padding: 10px 30px 0px 30px
  }
  .portfolio--project--description {
    color: var(--halfDarkColor);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    padding-top: 0.8rem;
  }
  .portfolio--project--description--top{
    padding-bottom: 1rem;
  }
  .portfolio--project--description ul{
    padding-left: 1rem;
    color: var(--halfDarkColor);
  }
  .portfolio--project--description ul li{
    line-height: 12px;
    font-size: 1.1rem;
  }
  .portfolio--project--btns {
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-self: center;
    padding: 15px 0px 0px 0px;
  }
  .portfolio--project--btns span{
    font-size: 0.95rem;
    color: var(--halfDarkColor);
  }
  .portfolio--project--btn-close {
    color: var(--halfDarkColor);
    font-size: 2rem;
    line-height: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  .portfolio--project--btn-close:hover {
    color: var(--red);
  }
  .portfolio--project--btn--site {
    color: var(--halfDarkColor);
    font-size: 2rem;
    line-height: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    text-align: right;
  }
  .portfolio--project--btn--site a{
    color: var(--halfDarkColor);
    transition: all 0.2s;
    text-decoration: none;
  }
  .portfolio--project--btn--site a:hover{
    color: var(--red);
  }
  #MyPortfolio {
    z-index: 0;
  }

  @media only screen and (max-width: 700px) {
    .portfolio--section {
      display: block;
      padding: 90px 0px 100px 0px;
    }
    .portfolio--section--heading{
      font-size: 2.5rem;
      padding-left: 35px;
    }
    .portfolio--section--container {
      display: grid;
      margin: 0 auto;
      width: 85%;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      justify-items: center;
      gap:1px;
      z-index: 1;
    }
    .portfolio--section--card {
      width: 100%;
      box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.0);
      border-radius: 0px;
    }
    .portfolio--section--card img{
      box-shadow: -2px -2px 8px 1px rgba(0, 0, 0, 0.0);
      border-radius: 0px;
      width: 100%;
    }
    .portfolio--section--card img:hover{
      transform: scale(1);
    }
    .portfolio--project--content {
      display: block;
      margin: 0 auto;
      background-color: var(--darkColor);
    }
    .portfolio--project--slider{
      padding: 2rem 0rem 2rem 0rem;
      margin: 0px auto;
      border: 2px solid var(--blue);
      background-color: var(--darkColor);
      border-radius: 20px;
      width: 85%;
    }
    .portfolio--project--text {
      margin: 0 auto;
      margin-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: space-between;
    }
    .portfolio--project--title {
      font-size: 26px;
      padding-top: 20px;
    }
    .portfolio--project--description {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      padding-top: 15px;
      padding-bottom: 20px;
    }
    .portfolio--project--description ul{
      padding-left: 15px;
    }
    .portfolio--project--description ul li{
      line-height: 10px;
      font-size: 16px;
    }
    .portfolio--project--btns {
      display: flex;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .portfolio--project--btn-close {
      color: var(--mediumColor);
    }
    .portfolio--project--btn--site a{
      color: var(--mediumColor);
    }
    .portfolio--project--btns span{
      font-size: 14px;
      color: var(--mediumColor);
    }
  }